PROJECT_NAME="ShopGround Era API"
MONGODB_URL="mongodb://localhost:27017"
DATABASE_NAME="shopground_db"
REDIS_URL="redis://localhost:6379/0"

CLOUDINARY_CLOUD_NAME="dnay8iqz3"
CLOUDINARY_API_KEY="178889896179956"
CLOUDINARY_API_SECRET="6YArsC09_d_rsmE3_gWappI02mw"
